
$default-button-background-color: #d4d4d4;
$default-button-text-color: #333333;
$default-button-border-width: 2px;
$custom-focus-effect-opacity: 0.25;
$custom-focus-effect-default-color: $action-color;
$custom-focus-effect-shadow: 0 0 0 3px;

$secondary-color: #201E26;

:root {
  --default-button-background-color: #999999;
  --default-button-text-color: #333333;
  --default-button-border-width: 2px;
}
